<div class="card flex flex-col items-center justify-center gap-2">

  <p-fileupload mode="basic"
                chooseLabel="Upload JSON"
                chooseIcon="pi pi-upload"
                accept="application/json, .json"
                [auto]="true"
                [customUpload]="true"
                (uploadHandler)="upload.emit($event)"
  />

  <p-button icon="pi pi-lightbulb"
            severity="info"
            outlined
            (onClick)="showHintClicked.emit()"
            [disabled]="isHintVisible"
  />

</div>

