<section class="flex flex-row flex-wrap justify-center items-center gap-2">
  <p-floatlabel variant="in">
    <p-select [options]="sortingTypes"
              [(ngModel)]="sorting"
              [disabled]="!isWorkbookSelected"
              (onChange)="sortingChanged.emit($event.value)"
              class="fixed-width"
              inputId="sortingInput"
    />
    <label for="sortingInput">Sort alphabetically</label>
  </p-floatlabel>
  <p-floatlabel variant="in">
    <p-inputnumber [(ngModel)]="hideIf"
                   [useGrouping]="false"
                   [min]="0"
                   [disabled]="!isWorkbookSelected"
                   (onInput)="onHideIfChanged.emit($event.value)"
                   inputId="hideIfInput"
                   mode="decimal"
                   inputId="withoutgrouping"
                   class="fixed-width"
    />
    <label for="hideIfInput">Hide If Less Than Or Equal to</label>
  </p-floatlabel>
</section>
