<section *ngIf="workbooks">
    <p-table [value]="workbooks" selectionMode="single" [(selection)]="selectedWorkbook" (onRowSelect)="workbookSelected.emit($event.data)">
      <ng-template pTemplate="header">
        <tr>
          <th>File Name</th>
          <th>Added</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-wBook>
        <tr [pSelectableRow]="wBook"
            [ngClass]="{ 'non-clickable': selectedWorkbook === wBook }"
        >
          <td>{{ wBook.name }}</td>
          <td>{{ wBook.added | date:'medium' }}</td>
        </tr>
      </ng-template>
    </p-table>
</section>
